.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;

    input {
      border: 0;
      border-radius: 2px;
      background: #ffffff;
      color: #505050;
      padding: 15px 100px 15px 15px;
      user-select: none;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #196BB1 inset;
      }

      &::placeholder {
        font-size: 15px;
      }
    }
  }

  .mainContent {
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 90px;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";

    a {
      width: 350px;
      height: 350px;
      .newsBlock {
        position: relative;
        box-shadow: 0 0 0 2px #196BB1 inset;
        border-radius: 2px;
        width: 350px;
        height: 350px;
        cursor: pointer;
        img {
          position: absolute;
          width: 350px;
          height: 350px;
          z-index: -1;
          border-radius: 2px;
        }
        &Text {
          padding: 25px 10px 25px 10px;
          width: 330px;
          height: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 450;
          color: white;

          h2 {
            font-size: 30px;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 350px;
            text-shadow: 1px 0 1px #000,
            0 1px 1px #000,
            -1px 0 1px #000,
            0 -1px 1px #000;
          }

          p {
            color: black;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 330px;
          }
        }
      }
    }
  }

  .pages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &Link {
      color: black;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        background: #196BB1;
        color: white;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 1770px) {
  .wrapper {
    .mainContent {
      gap: 30px 20px;
    }
  }
}

@media screen and (max-width: 1570px) {
  .wrapper {
    .mainContent {
      gap: 30px 110px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
          ". . ."
          ". . ."
          ". . ."
          ". . .";
    }
  }
}

@media screen and (max-width: 1320px) {
  .wrapper {
    .mainContent {
      gap: 30px 10px;
    }
  }
}

@media screen and (max-width: 1120px) {
  .wrapper {
    .mainContent {
      gap: 30px 175px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
          ". ."
          ". ."
          ". ."
          ". ."
          ". ."
          ". .";
    }
  }
}

@media screen and (max-width: 920px) {
  .wrapper {
    .mainContent {
      gap: 30px 10px;
    }
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    .mainContent {
      gap: 30px;
      justify-content: center;
      width: 350px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
          "."
          "."
          "."
          "."
          "."
          "."
          "."
          "."
          "."
          "."
          "."
          ".";
    }
  }
}